:root {
  --mobile: 768px;
  --desktop: 480px;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: "Rubik", sans-serif;
  transition: background-color 0.3s ease, color 0.3s ease;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: black;
    color: white;
  }
}